*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  width: 100vw;
  height: 100vh;

  background-color: rgb(149, 149, 226);

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container .nav-bar{
  width: 100%;

  display: flex;
  justify-content: flex-start;
}

.container .nav-bar .menu-btn{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 900;
}

.container .nav-bar #toggler{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  display: none;
}

.container .nav-bar .menu-btn .menu-btn-burger{
  width: 25px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(90, 40, 40);
  transition: all .5s ease-in-out;
}

.container .nav-bar .menu-btn .menu-btn-burger::before,
.container .nav-bar .menu-btn .menu-btn-burger::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(90, 40, 40);
  transition: all .5s ease-in-out;
}

.container .nav-bar .menu-btn .menu-btn-burger::before{
  transform: translateY(-10px);
}

.container .nav-bar .menu-btn .menu-btn-burger::after{
  transform: translateY(10px);
}

/*MENU*/

.container .nav-bar #toggler:checked ~ .menu{
  visibility: visible;
}

.container .nav-bar #toggler:checked ~ .menu > div{
  transform: scale(1);
  transition-duration: 0.2s;
}

.container .nav-bar #toggler:checked ~ .menu > div > div{
  opacity: 1;
  transition: opacity 0.4s ease;
}

.container .menu{
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .menu > div{
  background: rgba(0, 0, 0, 0.534);
  border-radius: 50%;

  width: 200vw;
  height: 200vh;

  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.5s ease-in-out;
}

.container .menu > div > div{
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.container .menu > div > div > ul > li{
  list-style: none;
  padding: 1rem;
}

.container .menu > div > div > ul > li > button{
  font-size: 1.5rem;
  font-weight: 600;

  background: none;
  cursor: pointer;
  color: #fff;
  outline: none;

  border: none;
  border-bottom: 3px solid rgb(73, 72, 72);
}

/*MODELS*/

.container .content{
  width: 80%;
  height: 90%;

  margin-top: 6rem;

  display: flex;
  flex-direction: column;
}

.container .content div{
  width: 100%;
  height: 5rem;
  margin-bottom: 2rem;

  border-radius: 15px;

  background-color: rgb(238, 236, 243);

  transition: background 0.4s ease;
}


/*Animation*/

.container .nav-bar .menu-btn.open .menu-btn-burger{
  width: 0;
  background: transparent;
  box-shadow: none;
}

.container .nav-bar .menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg) translate(0px, -0px);
  box-shadow: none;

}

.container .nav-bar .menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg) translate(0px, 0px);
  box-shadow: none;
}